/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
        clear: both;
}

.alignright {
        float: right;
        padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
        float: left;
        padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
        width: 960px;
        margin: auto;
}

header {

}

h1 {
    font-family: Merriweather;
    font-weight: 900;
    color:#f8ff00;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    float: left;
    width: 16.66667%;
    margin: 0;
    padding: 0;
}
header nav a {
    display: block;
    font-size: 1.25em;
    color: white;
    background: black;
    margin-right: 1px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
}
header nav a:hover {
    color: white;
    background: #999;
}


footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/



